h1 {
    border-width: 3px;
    border-style: solid;
    color: currentColor;
    display: inline-block;
}

.tilus {
    opacity: .5;
    width: 200px;
    height: 150px;
    margin: 10px auto 10px;
    display: block;

}

code {
    font-size: 16px;
}